@using SnakeClient.Layout


<div class="playground">
    <GameMapLayout />
</div>


@code {

}


<style>
.playground {
    width: 48vw;
    height: 70vh;
    margin: 10vh auto;
    /* background: lightblue; */
}
</style>